<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid text-white">
            <span class="navbar-brand">
                <span th:text="${userFromDB.getUsername()}"></span>
                <span> with roles: </span>
                <span th:each="role : ${userFromDB.getRoles()}"
                      th:text="${role.getName().replace('ROLE_', '') + ' '}">
                </span>
            </span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="d-flex align-items-start">
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                    type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin
            </button>
            <button class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                    type="button" role="tab" aria-controls="v-pills-user" aria-selected="true">User
            </button>
        </div>
    </div>
    <div class="container-fluid justify-content-center">
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent" >
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel">
                    <h2 class="fw-bold fs-4">Admin panel</h2>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-users_table-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-users_table" type="button" role="tab"
                                    aria-controls="nav-users_table" aria-selected="true">Users table
                            </button>
                            <button class="nav-link" id="nav-new_user-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-new_user" type="button" role="tab" aria-controls="nav-new_user"
                                    aria-selected="false">New User
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-users_table" role="tabpanel"
                             aria-labelledby="nav-users_table-tab">

                            <h5><b>All users</b></h5>
                            <table class="table table-striped bg-white border table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="user: ${users}">
                                    <td th:text="${user.id}"/>
                                    <td th:text="${user.firstname}"/>
                                    <td th:text="${user.lastname}"/>
                                    <td th:text="${user.username}"/>

                                    <td>
                                    <span th:each="role : ${user.getRoles()}"
                                          th:text="${role.getName().replace('ROLE_', '') + ' '}">
                                    </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                th:data-bs-target="'#editModal'+${user.getId()}">Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                th:data-bs-target="'#deleteModal'+ ${user.getId()}">Delete
                                        </button>
                                    </td>
                                    <div class="modal" tabindex="-1" th:id="${'editModal'+ user.getId()}"
                                         aria-labelledby="EditModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="d-flex justify-content-center align-items-center container">
                                                        <div class="col">
                                                            <form th:method="PATCH"
                                                                  th:action="@{/admin/update/{id} (id=${user.getId()})}"
                                                                  th:object="${user}">

                                                                <div class="mb-3">
                                                                    <label for="edit-firstname"><b>First
                                                                        Name</b></label>
                                                                    <input class="form-control" type="text"
                                                                           id="edit-firstname"
                                                                           th:value="*{firstname}"
                                                                           th:name="firstname" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-lastname"><b>Last
                                                                        Name</b></label>
                                                                    <input class="form-control" type="text"
                                                                           id="edit-lastname"
                                                                           th:value="*{lastname}"
                                                                           th:name="lastname">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-password"><b>Password</b></label>
                                                                    <input class="form-control" type="text"
                                                                           id="edit-password"
                                                                           th:value="*{password}"
                                                                           th:name="password">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-username"><b>Username</b></label>
                                                                    <input class="form-control" type="text"
                                                                           id="edit-username"
                                                                           th:value="*{username}"
                                                                           th:name="username">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-roles"><b>Role</b></label>
                                                                    <select class="form-select" aria-label="Default select example"
                                                                            id="edit-roles"
                                                                            th:name="roles" multiple>
                                                                        <option th:each="role : ${roles}"
                                                                                th:value="${role.id}"
                                                                                th:selected="${user.roles.contains(role)}"
                                                                                th:text="${role.name == 'ROLE_ADMIN' ? 'ADMIN' : (role.name == 'ROLE_USER' ? 'USER' : role.name)}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="modal-footer text-end">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>

                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Edit"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal" tabindex="-1" th:id="${'deleteModal'+ user.getId()}"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="d-flex justify-content-center align-items-center container">
                                                        <div class="col">
                                                            <form th:method="DELETE"
                                                                  th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                                  th:object="${user}">

                                                                <div class="mb-3">
                                                                    <label for="delete-id"><b>ID</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-id"
                                                                           th:value="*{id}"
                                                                           name="id" disabled>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="delete-firstname"><b>First
                                                                        Name</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-firstname"
                                                                           th:value="*{username}"
                                                                           name="firstname" disabled>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="delete-lastname"><b>Last
                                                                        Name</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-lastname"
                                                                           th:value="*{lastname}"
                                                                           name="lastname" disabled>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="delete-password"><b>Password</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-password"
                                                                           th:value="*{password}"
                                                                           name="password" disabled>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label><b>Role</b></label>
                                                                    <select class="form-select"
                                                                            aria-label="size 2 select example disabled"
                                                                            disabled>
                                                                        <option th:each="role : ${user.getRoles()}"
                                                                                th:value="${role.getId()}"
                                                                                th:switch="${role.getName()}"
                                                                                th:selected="${user.roles.contains(role)}">
                                                                            <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                                                            <span th:case="'ROLE_USER'">USER</span>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="modal-footer text-end">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>

                                                                    <input type="submit" class="btn btn-danger"
                                                                           value="Delete"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-new_user" role="tabpanel"
                             aria-labelledby="nav-new_user-tab">
                            <h5><b>Add new user</b></h5>

                            <div class="d-flex justify-content-center align-items-center container">
                                <form class="w-25" th:method="POST" th:action="@{/admin/create}" th:object="${user}">
                                    <div>
                                        <label for="username"
                                               class="form-label bold justify-content-center"><b>Username</b></label>
                                        <input type="text" class="form-control" id="username"
                                               th:field="*{username}"
                                               required>
                                    </div>
                                    <div>
                                        <label for="firstname"
                                               class="form-label bold justify-content-center"><b>Firstname</b></label>
                                        <input type="text" class="form-control" id="firstname"
                                               th:field="*{firstname}"
                                               required>
                                    </div>
                                    <div>
                                        <label for="lastname"
                                               class="form-label bold justify-content-center"><b>Lastname</b></label>
                                        <input type="text" class="form-control" id="lastname"
                                               th:field="*{lastname}"
                                               required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password"
                                               class="form-label bold justify-content-center"><b>Password</b></label>
                                        <input type="text" class="form-control" id="password"
                                               th:field="*{password}" placeholder="Password" required>
                                    </div>
                                    <span><b>Role</b></span>
                                    <select class="form-control"
                                            aria-label="Default select example"
                                            th:field="*{roles}" multiple required>
                                        <option th:each="role : ${roles}"
                                                th:value="${role.getId()}"
                                                th:switch="${role.getName()}">
                                            <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                            <span th:case="'ROLE_USER'">USER</span>
                                        </option>
                                    </select>
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Add new user"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <h2>User information-page</h2>

                    <h5><b>About user</b></h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Username</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${userFromDB.getId()}"/>
                            <td th:text="${userFromDB.getFirstname()}"/>
                            <td th:text="${userFromDB.getLastname()}"/>
                            <td th:text="${userFromDB.getUsername()}"/>
                            <td>
                                <span th:each="role : ${userFromDB.getRoles()}" th:switch="${role.getName()}">
                                    <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                    <span th:case="'ROLE_USER'">USER</span>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>