<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div class="container">
    <h2 class="text-center">Admin page</h2>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.firstname}"></td>
            <td th:utext="${user.lastname}"></td>
            <td th:utext="${user.username}"></td>
            <td th:utext="${user.getRoles()}"></td>

            <td>
                <a class="btn btn-primary" th:href="@{/admin/{id}/edit(id=${user.id})}">Edit</a>
                <form th:action="@{/admin/{id}(id=${user.id})}" method="post" class="d-inline">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-success" th:href="@{/admin/new}">Add New User</a>

    <form th:action="@{/logout}" method="POST">
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</div>
</body>
</html>