<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<h2>Users</h2>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" th:value="Logout"/>
</form>
<br>
<table class="table-tabs">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getUsername()}"/>
        <td>
            <a class="btn" th:href="@{/admin/updateInfo(id=${user.getId()})}">
                Update
            </a>
        </td>
        <td>
            <a class="btn" th:href="@{/admin/deleteUser(id=${user.getId()})}">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<input type="button" value="Add user" onclick="window.location.href='/admin/addNewUser'"/>
</body>
</html>