<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit User Info</title>
</head>
<body>
<div class="container">
    <h1 class="text-left">Edit User Info</h1>
    <form th:method="patch" th:action="@{/user/{id}/edit-info(id=${user.id})}" th:object="${user}">

        <div class="form-group">
            <label for="firstname">Firstname: </label>
            <input type="text" class="form-control" th:field="*{firstname}" id="firstname"/>
        </div>

        <div class="form-group">
            <label for="lastname">Lastname: </label>
            <input type="text" class="form-control" th:field="*{lastname}" id="lastname"/>
        </div>

        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" th:field="*{username}" id="username"/>
        </div>

        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" th:field="*{password}" id="password"/>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
    <form th:action="@{/logout}" method="POST">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
</body>
</html>