<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">User page</h2>
    <div class="text-center mt-4">

        <a class="btn btn-primary" th:href="@{/user}">User Page</a>
        <a class="btn btn-secondary" th:href="@{/admin}">Admin Page</a>

        <form th:action="@{/logout}" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>

    </div>
</div>
</body>
</html>