<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h2>User</h2>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" th:value="Logout"/>
</form>
<br>
<form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <ul>
        <li th:each="err : ${#fields.errors('username')}"
            th:text="${err}" class="error" style="color: red"/>
    </ul>
    <br><br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <ul>
        <li th:each="err : ${#fields.errors('password')}"
            th:text="${err}" class="error" style="color: red"/>
    </ul>
    <br><br>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <ul>
        <li th:each="err : ${#fields.errors('name')}"
            th:text="${err}" class="error" style="color: red"/>
    </ul>
    <br><br>
    <input type="submit" value="OK"/>
</form>

</body>
</html>